/* Add in fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,300;0,700;1,300&display=swap');

/* Apply styling to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #69178f44;
}

#logo {
    height: 15vw;
}

nav a {
    font-family: 'Poppins',sans-serif;
    color: #411156;
    font-weight: 700;
    padding: 0 0.5rem;
    text-decoration: none;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #d0b8db84;
}

main img {
    padding: 1rem;
    border-radius: 50%;
}

main h1 {
    font-size: 2rem;
    font-family: 'Aboreto', sans-serif;
    text-align: center;
    color: #411156;
}

main p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #69178f44;
    padding-top: 0.5rem;
}

footer p {
    color: #411156;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}