/* Import base styles from styles.css */
@import url(/styles/style.css);

/* Main */
h1 {
    padding-bottom: 1rem;
}

#headshot-photo {
    border-radius: 0;
    width: 20rem;
}

section {
    padding-bottom: 2rem;
    text-align: center;
}

.button {
    color: #411156;
    text-decoration: none;
    border: 1px solid #411156;
    padding: 0.2rem 0.5rem;
    box-shadow: 1px 1px 10px #41115653;
    border-radius: 5%;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #dbc0396b;
}

/* Laptops and monitors media break */
@media screen and (min-width: 900px) {
    main {
        flex-flow: row;
    }
    #title-image {
        align-items: column;
    }
    main p {
        justify-content: space-between;
        padding: 1rem;
    }
    section {
        padding: 1.5rem;
        flex-flow: nowrap;
    }
}