/* Import base styles from styles.css */
@import url(/styles/style.css); 

/* Main */
h1 {
    padding-bottom: 1rem;
}

.blog-photo {
    display: flex;
    justify-content: center;
    border-radius: 0%;
}

main article div img {
    padding: 1rem 0 1rem 0;
    width: clamp(70vw,40rem,80vw);
}

.blog-title {
    text-align: center;
    text-decoration: none;
}

/* Tablet style devices media break */
@media screen and (min-width: 470px) and (max-width: 899px) {
    #blog-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    article {
        width: 40vw;
    }

    main article div img {
        padding: 1rem;
        width: clamp(40vw,50rem,30vw);
    }
    article p {
        padding: 1rem;
    }
}

/* Laptops and monitors media break */
@media screen and (min-width: 900px) {
    #blog-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    article {
        width: 30vw;
    }

    main article div img {
        padding: 1rem;
        width: clamp(20vw,25rem,30vw);
    }
    article p {
        padding: 1rem;
    }
}