/* Import base styles from styles.css */
@import url(/styles/style.css); 

/* Main */
h1 {
    padding-bottom: 1rem;
}

main article div {
    padding-top: 2rem;
    border-radius: 0%;
}

main p {
    padding: 0;
}

.project-img {
    border-radius: 0%;
}