/* Add in fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,300;0,700;1,300&display=swap');

/* Apply styling to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #d0b8db84;
    border-bottom: 1px solid #33698f5b;
}

#logo {
    height: 15vw;
    border: 1px solid #33698f5b;
}

nav a {
    font-family: 'Poppins',sans-serif;
    color: #411156;
    font-weight: 700;
    padding: 0 0.5rem;
    text-decoration: none;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: stretch;
    padding: 2rem;
}

#profile-photo {
    padding-bottom: 1rem;
    border-radius: 50%;
    width: 50vw;
    min-width: 10rem;
}

main h1 {
    font-size: 2rem;
    font-family: 'Aboreto', sans-serif;
    text-align: center;
    color: #411156;
}

main p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 1rem;
    text-align: center;
}

p:nth-of-type(2) {
    text-align: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #411156;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d0b8db84;
    padding-top: 0.5rem;
    border-top: 1px solid #33698f5b;
}

footer p {
    color: #411156;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

footer div a img{
    width: 3rem;
    border: 1px solid #33698f5b;
    background-color: #33698fa5;
    border-radius: 10%;
}

/* Tablet style devices media break */
@media screen and (min-width: 470px) and (max-width: 899px) {
    #logo {
        height: 10vw;
    }
    #profile-photo {
        width: 40vw;
        max-width: 16rem;
    }
    main p {
        padding: 1rem 6rem;
    }
}

/* Laptops and monitors media break */
@media screen and (min-width: 900px) {
    #logo {
        height: 8vw;
    }
    #profile-photo {
        width: 25vw;
        max-width: 18rem;
    }
    main p {
        padding: 1rem 18rem;
    }
}
