/* Add in fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@0,300;0,700;1,300&display=swap');

/* Apply styling to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #d0b8db84;
    border-bottom: 1px solid #33698f5b;
    height: 10vh;
}

#logo {
    height: clamp(12vh,8vh,6vh);
    border: 1px solid #33698f5b;
    border-radius: 15%;
}

/* Hover action highlights logo with thick yellow border */
#logo:hover {
    border: 3px solid #dbc039;
}

nav a {
    font-family: 'Poppins',sans-serif;
    color: #411156;
    font-weight: 700;
    padding: 0 0.5rem;
    text-decoration: none;
}

/* Increases font size of nav bar buttons when hovered over */
nav a:hover {
    font-size: larger;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: stretch;
    padding: 2rem;
    min-height: 80vh;
}

#profile-photo {
    object-fit: cover;
    border-radius: 50%;
    width: 50vw;
    min-width: 10rem;
    box-shadow: 0.2rem 0.2rem 5px #41115636;
    border: 1px solid #33698f5b;
    animation: photo-fade-in 3s; 
}

/* Makes profile photo fade in when page is loaded */
@keyframes photo-fade-in {
    0% {
        opacity: 0%;
        transition: 1s;
    }
    50% {
        opacity: 50%;
        transition: 1s;
    }
    100% {
        opacity: 100%;
        transition: 1s;
    }
}

main h1 {
    padding-top: 1rem;
    font-size: 2rem;
    font-family: 'Aboreto', sans-serif;
    text-align: center;
    color: #411156;
}

main p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 1rem;
    text-align: center;
}

p:nth-of-type(2) {
    text-align: center;
}

.about-link {
    text-decoration: none;
    color: #69178f;
}

/* Hover action underlines the word 'about' within text and email address to show that that they are links */
.about-link:hover {
    text-decoration: underline;
}

/* Added for global styling on pages that use h2 */
h2 {
    font-family: 'Poppins', sans-serif;
    color: #411156;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    height: 10vh;
    background-color: #d0b8db84;
    padding-top: 0.5rem;
    border-top: 1px solid #33698f5b;
}

footer p {
    color: #411156;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.social-buttons img {
    width: 3rem;
    border: 1px solid #33698f5b;
    background-color: #33698f;
    border-radius: 10%;
}

/* Hover action highlights logos with thick yellow borders */
.social-buttons img:hover {
    border: 2px solid #dbc039;
}

/* Tablet style devices media break */
@media screen and (min-width: 470px) and (max-width: 899px) {
    #logo {
        height: 10vw;
    }
    #profile-photo {
        width: 40vw;
        max-width: 16rem;
    }
    main p {
        padding: 1rem 6rem;
    }
}

/* Laptops and monitors media break */
@media screen and (min-width: 900px) {
    #logo {
        height: 6vh;
    }
    #profile-photo {
        width: 25vw;
        max-width: 18rem;
    }
    main p {
        padding: 1rem 18rem;
    }
}
